body{
  min-height: 70vh;
  min-width: 70vw;
}

.box{
   top:50%;
   left:50%;
  display: flexbox;
  text-align:center;
  justify-content: center;
  position:absolute;
  
}
.container{
  display: flex;
  justify-content: center;
    align-items: center;
   
}